
  /begin AXIS_PTS {{AXIS_PTS_REF_NAME}} 
  {{AXIS_PT_DESCRIPTION}}
  {{AXIS_PT_ADDRESS}}
  {{AXIS_PT_INPUT}}
  {{AXIS_PT_LAYOUT}}
  {{AXIS_PT_DEFAULT_VALUE}}
  {{AXIS_PT_COMPU}}  
  {{NUMBER_OF_AXIS_PTS}} 
  {{AXIS_PT_MINIMUM}} {{AXIS_PT_MAXIMUM}}

      /begin IF_DATA DIM
  DIRECT {{AXIS_PT_ADDRESS}}
    /end IF_DATA
    /begin IF_DATA VISU
  ADR_COM {{AXIS_PT_ADDRESS}} ADR_ABS {{AXIS_PT_ADDRESS}}
    /end IF_DATA

/end AXIS_PTS

