        /********************** Control unit management data ************************/
        /begin MOD_PAR  "{{DESCRIPTION}}"

            NO_OF_INTERFACES        {{INTERFACES}}  
            VERSION                "{{VERSION}}"
			ADDR_EPK		       {{EPK_ADDR}}
			EPK			           "{{PROJECT_NAME}}"
			SUPPLIER		       "{{SUPPLIER_NAME}}"
			CUSTOMER               "{{CUSTOMER_NAME}}"    
            CUSTOMER_NO            "{{CUSTOMER_NUMBER}}"
            USER                   "{{USER_NAME}}"
            PHONE_NO               "{{USER_PHONE_NUMBER}}"
            CPU_TYPE               "{{CONTROLLER_NAME}}"
            ECU                    "{{ECU_NAME}}"
            ECU_CALIBRATION_OFFSET {{CALIBRATION_OFFSET}}

