           

           /begin CALIBRATION_METHOD "{{NAME}}" {{VERSION}}
               /begin CALIBRATION_HANDLE {{START_ADDR}} {{LENGTH}}
               /end CALIBRATION_HANDLE
           /end CALIBRATION_METHOD

