	/begin IF_DATA CNP_CREATE_INI
    /************************************CANape 10.0 *******************************************************/
	  /begin TP_BLOB
		0x1
		PARAMETER "CANape.INI" "$CNP_DVC_SCTN_CCP$" "DAQ_START_STOP_ALL_DISABLED" "1"
	  /end TP_BLOB
	/end IF_DATA