
/*********************************************************/
/*   CANAPE_EXT for Vector                               */
/*********************************************************/


        "CANAPE_EXT" struct {
          int;
          taggedstruct {
            "LINK_MAP" struct {
              char[256];
              long;
              uint;
              uint;
              long;
              uint;
              uint;
              uint;
            };
            "DISPLAY" struct {
              long;
              double;
              double;
            };
            "VIRTUAL_CONVERSION" struct {
              char[256];
            };
          };
        };

