
/begin CHARACTERISTIC {{ECU_VARIABLE}}
"{{DESCRIPTION}}"
 VALUE
{{ECU_ADDRESS}}
{{RECORD_LAYOUT}}
{{DEFAULT_VALUE}}
{{COMPU_METHOD}}
{{MINIMUM}}
{{MAXIMUM}}

/* USER DEFINED COMMENT */
/* {{USER_DEFINED}} */

 /begin AXIS_DESCR
	COM_AXIS 
	{{AXIS_NAME}} 
	{{AXIS_COMPU_METHOD}}                                         
	{{NUMBER_OF_AXIS_PTS}}
	{{AXIS_MINIMUM}} {{AXIS_MAXIMUM}}
	AXIS_PTS_REF {{AXIS_PTS_REF_NAME}}
 /end AXIS_DESCR

 /begin AXIS_DESCR
	COM_AXIS 
	{{AXIS_1_NAME}} 
	{{AXIS_1_COMPU_METHOD}}                                         
	{{AXIS_1_NUMBER_OF_AXIS_PTS}}
	{{AXIS_1_MINIMUM}} {{AXIS_1_MAXIMUM}}
	AXIS_PTS_REF {{AXIS_PTS_1_REF_NAME}}
 /end AXIS_DESCR

 /begin AXIS_DESCR
	COM_AXIS 
	{{AXIS_2_NAME}} 
	{{AXIS_2_COMPU_METHOD}}                                         
	{{AXIS_2_NUMBER_OF_AXIS_PTS}}
	{{AXIS_2_MINIMUM}} {{AXIS_2_MAXIMUM}}
	AXIS_PTS_REF {{AXIS_PTS_2_REF_NAME}}	
 /end AXIS_DESCR

  /begin IF_DATA DIM
	DIRECT {{ECU_ADDRESS}}
  /end IF_DATA
  /begin IF_DATA VISU
  	ADR_COM {{ECU_ADDRESS}} ADR_ABS {{ECU_ADDRESS}}
  /end IF_DATA
/end CHARACTERISTIC

