  
  /begin CHARACTERISTIC {{ECU_VARIABLE}}
  "{{DESCRIPTION}}"
   VALUE
   {{ECU_ADDRESS}}
   {{RECORD_LAYOUT}}
   0    /* MAX_DIF is always taken as 0 */
   {{COMPU_METHOD}}
   {{MINIMUM}} {{MAXIMUM}}   
    /begin DEPENDENT_CHARACTERISTIC 
      "{{VARIABLE_1}}{{OPERATOR}}{{VARIABLE_2}}" 
      {{VARIABLE_1_REF}}
      {{VARIABLE_2_REF}}
    /end DEPENDENT_CHARACTERISTIC

    FORMAT "{{FORMAT}}"
    DISPLAY_IDENTIFIER {{DISPLAY_IDENTIFIER}}
  /end CHARACTERISTIC

