
/begin CHARACTERISTIC {{ECU_VARIABLE}}

"{{DESCRIPTION}}"
 ASCII
 {{ECU_ADDRESS}}
 {{RECORD_LAYOUT}}
 0		/* MAX_DIF is always taken as 0 */
 CM.IDENTICAL
 {{MINIMUM}} {{MAXIMUM}}
 NUMBER {{NUMBER}}
 DISPLAY_IDENTIFIER {{DISPLAY_IDENTIFIER}}
 
/end CHARACTERISTIC

