
/begin CHARACTERISTIC {{ECU_VARIABLE}}
"{{DESCRIPTION}}"
 CURVE
 {{ECU_ADDRESS}}
 {{RECORD_LAYOUT}}
 0		/* MAX_DIF is always taken as 0 */
 {{COMPU_METHOD}}
 {{MINIMUM}} {{MAXIMUM}}

 /begin AXIS_DESCR
	FIX_AXIS 
	{{AXIS_NAME}} 
	{{AXIS_COMPU_METHOD}}                                         
	{{NUMBER_OF_AXIS_PTS}}
	{{AXIS_MINIMUM}} {{AXIS_MAXIMUM}}
  FIX_AXIS_PAR_DIST {{FIX_AXIS_1}} {{FIX_AXIS_2}} {{FIX_AXIS_3}}
 /end AXIS_DESCR

 FORMAT "{{FORMAT}}"
 DISPLAY_IDENTIFIER {{DISPLAY_IDENTIFIER}}
 
/end CHARACTERISTIC

