
/begin CHARACTERISTIC {{ECU_VARIABLE}}
"{{DESCRIPTION}}"
 VALUE
 {{ECU_ADDRESS}}
 {{RECORD_LAYOUT}}
 0		/*MAX_DIF is always taken as 0
 CM.IDENTICAL
 {{MINIMUM}} {{MAXIMUM}}
 EXTENDED_LIMITS {{EXTENDED_MINIMUM}} {{EXTENDED_MAXIMUM}}
 BIT_MASK {{BITMASK}}
 FORMAT "{{FORMAT}}"
 DISPLAY_IDENTIFIER {{DISPLAY_IDENTIFIER}}
 
/end CHARACTERISTIC

