
/begin CHARACTERISTIC {{ECU_VARIABLE}}
"{{DESCRIPTION}}"
 CURVE
 {{ECU_ADDRESS}}
 {{RECORD_LAYOUT}}
 0		/* MAX_DIF is always taken as 0 */
 {{COMPU_METHOD}}
 {{MINIMUM}} {{MAXIMUM}}

 /begin AXIS_DESCR
	COM_AXIS 
	{{AXIS_NAME}} 
	{{AXIS_COMPU_METHOD}}                                         
	{{NUMBER_OF_AXIS_PTS}}
	{{AXIS_MINIMUM}} {{AXIS_MAXIMUM}}
	AXIS_PTS_REF {{AXIS_PTS_REF_NAME}}
 /end AXIS_DESCR

 FORMAT "{{FORMAT}}"
 DISPLAY_IDENTIFIER {{DISPLAY_IDENTIFIER}}
 
/end CHARACTERISTIC

/begin AXIS_PTS {{AXIS_PTS_REF_NAME}} 
  {{AXIS_PT_DESCRIPTION}}
  {{AXIS_PT_ADDRESS}}
  {{AXIS_PT_INPUT}}
  {{AXIS_PT_LAYOUT}}
  {{AXIS_PT_COMPU}}  
  {{NUMBER_OF_AXIS_PTS}} 
  {{AXIS_PT_MINIMUM}} {{AXIS_PT_MAXIMUM}}
  DISPLAY_IDENTIFIER {{AXIS_PT_DISPLAY_IDENTIFIER}}
/end AXIS_PTS

