
/begin COMPU_METHOD {{NAME}}
  "{{DESCRIPTION}}"
  {{COMPU_METHOD_TYPE}}
  "{{PHYSICAL_REP}}"
  "{{UNIT}}"
  COMPU_TAB_REF {{COMPU_TAB_REF}}
/end COMPU_METHOD 


/begin COMPU_TAB {{COMPU_TAB_REF}}
	"{{COMPU_TAB_DESCRIPTION}}"
	{{COMPU_TAB_TYPE}}
	{{INTERPOLATION_SIZE}}
	{{INTERPOLATION_VALUES}}
	{{DEFAULT_VALUE}}
/end COMPU_TAB

  
