
/begin COMPU_METHOD {{NAME}}
  "{{DESCRIPTION}}"
  {{COMPU_METHOD_TYPE}}
  "{{PHYSICAL_REP}}"
  "{{UNIT}}"
  {{COEFF_TYPE}} {{COEFF_A}} {{COEFF_B}} {{COEFF_C}} {{COEFF_D}} {{COEFF_E}} {{COEFF_F}}
/end COMPU_METHOD 
  