/begin COMPU_METHOD {{NAME}}
  "{{DESCRIPTION}}"
  {{COMPU_METHOD_TYPE}}
  "{{PHYSICAL_REP}}"
  "{{UNIT}}"
  /begin FORMULA
  	"{{FORMULA}}"
  	FORMULA_INV "{{FORMULA_INV}}"
  /end FORMULA
/end COMPU_METHOD 
  
