
/begin COMPU_METHOD {{NAME}}
  "{{DESCRIPTION}}"
  {{COMPU_METHOD_TYPE}}
  "{{PHYSICAL_REP}}"
  "{{UNIT}}"
  COMPU_TAB_REF {{COMPU_TAB_REF}}
/end COMPU_METHOD 

/begin {{MODE}} {{COMPU_TAB_REF}}
	"{{COMPU_TAB_DESCRIPTION}}"
	{{COMPU_METHOD_TYPE_1}} {{COMPU_TAB_SIZE}}
	{{COMPU_VTAB_VALUES}}
	{{DEFAULT_VALUE}}
/end COMPU_TAB
