
/begin MEASUREMENT {{NAME}}
  "{{DESCRIPTION}}"
  {{DATATYPE}} {{COMPU_METHOD}} {{RESOLUTION}} {{ACCURACY}} {{MIN_VALUE}} {{MAX_VALUE}}
  ECU_ADDRESS {{ECU_ADDR}}
  FORMAT "{{FORMAT}}"
  MATRIX_DIM {{MATRIX_SIZE}} {{ROWS}} {{COLUMNS}}
/end COMPU_METHOD 
  