
/begin MEASUREMENT {{ECU_VARIABLE}}
"{{DESCRIPTION}}"
{{DATATYPE}}
{{COMPU_METHOD}}
{{DEFAULT_MIN}} {{DEFAULT_MAX}}
{{MINIMUM}}
{{MAXIMUM}}
BIT_MASK {{BITMASK}}
ECU_ADDRESS {{ECU_ADDRESS}}
/* USER DEFINED COMMENT */
/* {{USER_DEFINED}} */
  /begin IF_DATA DIM
	{{ECU_ADDRESS}} INTERN {{INTERNAL_TYPE}}
  /end IF_DATA
  /begin IF_DATA VISU
  	ADR_COM {{ECU_ADDRESS}} ADR_ABS {{ECU_ADDRESS}}
  /end IF_DATA
/end MEASUREMENT

