
/begin MEASUREMENT {{NAME}}
  "{{DESCRIPTION}}"
  {{DATATYPE}} {{COMPU_METHOD}} {{RESOLUTION}} {{ACCURACY}} {{MIN_VALUE}} {{MAX_VALUE}}
  ECU_ADDRESS {{ECU_ADDR}}
  FORMAT "{{FORMAT}}"
  ARRAY_SIZE {{ARRAY_SIZE}}
/end COMPU_METHOD 
  