    
   /begin MOD_COMMON "{{MOD_COMMON}}"
      DEPOSIT ABSOLUTE {{DEPOSIT_ABSOLUTE}}
      BYTE_ORDER MSB_LAST {{BYTE_ORDER_MSB_LAST}}
      ALIGNMENT_BYTE {{ALIGNMENT_BYTE}}
      ALIGNMENT_WORD {{ALIGNMENT_WORD}}
      ALIGNMENT_LONG {{ALIGNMENT_LONG}}
      ALIGNMENT_FLOAT32_IEEE {{ALIGNMENT_FLOAT32}}
      ALIGNMENT_FLOAT64_IEEE {{ALIGNMENT_FLOAT64}}
    /end MOD_COMMON

