            /******************** VARIABLE MEMORY {{MODE}} - {{COMMUNICATION_INTERFACE}} ********************/

            /begin MEMORY_SEGMENT  {{NAME}} {{DESCRIPTION}}
                VARIABLES RAM {{MODE}}  {{ORIGIN_ADDR}} {{LENGTH}} {{OFFSET_ADDR}}
                /begin IF_DATA {{COMMUNICATION_INTERFACE}} 
                    ADDRESS_MAPPING    {{ORIGIN_ADDR}} {{MAPPING_ADDR}} {{LENGTH}}
                /end IF_DATA
            /end MEMORY_SEGMENT